/* Yphresies - yphresies */
#yphresies_doxeio_0 {
  border-radius: 25px;
  border: 1.5px solid #aaa9ad;
  width: 100%;
  height: 250px;
  overflow: hidden;
  position: relative;
}

/*#yphresies_doxeio_1 {
  height: 30%;
  background-color: #f1f1f1;
  position: relative;
}*/

#yphresies_doxeio_2 {
  position: relative;
  width: 100%;
  height: 100%;
}


#yphresies_doxeio_titloi {
    height: 30%;
    display: block;
    position: absolute;
    width: 100%;
    background-color: #f1f1f1;
}

#yphresies_doxeio_keimeno {
    height: 70%;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%,0);
    width: 100%;
}

.yphresies_kathgoria_titlos {
  display: inline-block;
  width: 32.8%;
  height: 100%;
  position: relative;
}

.yphresies_kathgoria_titlos span {
    position: absolute;
    font-size: 15px;
    top: 33%;
    left: 50%;
    transform: translate(-50%,0);
}

.yphresies_kathgoria_titlos_epilegmeno {
  color: white;
  background-color: #aaa9ad;
}

.yphresies_kathgoria_keimeno {
    left: 50%;
    transform: translate(-50%, 0);
    position: relative;
    display: none;
}

.yphresies_kathgoria_keimeno_epilegmeno {
  display: inline-block !important;
}

@media only screen and (max-width: 650px) {
    #yphresies_doxeio_1 {
        height : 37% !important;
    }

    .yphresies_kathgoria_titlos {
        display: inline-block !important;
        width: 100% !important;
        height: 30% !important;
        position: relative !important;
    }

    .yphresies_kathgoria_keimeno {
        width: 70% !important;
        left: 50%;
        transform: translate(-50%, 0);
    }
}
